transformers
datasets
rouge-score
flask
sentencepiece
torch --extra-index-url https://download.pytorch.org/whl/cu118
torchvision  --extra-index-url https://download.pytorch.org/whl/cu118
torchaudio --extra-index-url https://download.pytorch.org/whl/cu118
